{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Website Design Templates" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="Hifi Technology Solutions" />
    <meta name="description" content="Here at Hifi Technology Solutions, we offer web and mobile development solutions..." />

    <!-- title -->
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/logos/favcon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/logos/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/logos/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/logos/apple-touch-icon-114x114.png' %}" />

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />

    <!-- quform css -->
    <link rel="stylesheet" href="{% static 'quform/css/base.css' %}" />

    <!-- theme core css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!--      PAGE LOADING
    ==================================================      -->
    <div class="loader-wrap">
      <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>

      <div class="loader-wrap-heading">
        <div class="load-text">
          <span>L</span>
          <span>o</span>
          <span>a</span>
          <span>d</span>
          <span>i</span>
          <span>n</span>
          <span>g</span>
        </div>
      </div>
    </div>

    <!-- all js include start -->
    {% block content %}

    {% endblock %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- jquery -->
    <script src="{% static 'js/core.min.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- form plugins js -->
    <script src="{% static 'quform/js/plugins.js' %}"></script>

    <!-- form scripts js -->
    <script src="{% static 'quform/js/scripts.js' %}"></script>

    <!-- all js include end -->
  </body>
</html>
