{% load static %}
<!--  HEADER
        ==================================================  -->
        <header class="header-style1 menu_area-light">
            <div class="navbar-default border-bottom border-color-light-white">
              <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                <div class="row align-items-center">
                  <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                      <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="navbar-header navbar-header-custom">
                          <!-- start logo -->
                          <a href="{% url 'home' %}" class="navbar-brand"><img id="logo" src="{% static 'img/logos/favcon.png' %}" alt="logo" /></a>
                          <!-- end logo -->
                        </div>
      
                        <div class="navbar-toggler bg-primary"></div>
      
                        <!-- start menu area -->
                        <ul class="navbar-nav " id="nav" style="display: none;">
                          <li>
                            <a href="#home">Home</a>
                          </li>
                          <li>
                            <a href="#!">Pages</a>
                            <ul>
                              <li>
                                <a href="about.html">About Us</a>
                              </li>
                              <li>
                                <a href="services.html">Our Services</a>
                              </li>
                              <li>
                                <a href="pricing.html">Pricing Plans</a>
                              </li>
                              <li>
                                <a href="team.html">Our Team</a>
                              </li>
                              <li>
                                <a href="clients.html">Our Clients</a>
                              </li>
                              <li>
                                <a href="faq.html">FAQ's</a>
                              </li>
                              <li>
                                <a href="testimonials.html">Testimonials</a>
                              </li>
                              <li>
                                <a href="404-page.html">404 Page</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#!">Services</a>
                            <ul>
                              <li>
                                <a href="web-development.html">Web Development</a>
                              </li>
                              <li>
                                <a href="apps-development.html">Apps Development</a>
                              </li>
                              <li>
                                <a href="graphics-design.html">Graphics Design</a>
                              </li>
                              <li>
                                <a href="digital-marketing.html">Digital Marketing</a>
                              </li>
                              <li>
                                <a href="mobile-platforms.html">Mobile Platforms</a>
                              </li>
                              <li>
                                <a href="content-management.html">Content Management</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#!">Portfolio</a>
                            <ul>
                              <li>
                                <a href="portfolio.html">Portfolio Grid</a>
                              </li>
                              <li>
                                <a href="portfolio-details.html">Portfolio Details</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="{% url 'blog_list' %}">Blogs</a>
                          </li>
                          <li>
                            <a href="{% url 'contact-us' %}">Contact_Us</a>
                          </li>
                          <li>
                            <a href="#">About_Us</a>
                        </li>
                        </ul>
                        <!-- end menu area -->
      
                        <!-- start attribute navigation -->
                        <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                          <ul>
                            <li class="d-none d-xl-inline-block">
                              <a href="contact.html" class="btn-style1 white"><span>Free Quote</span></a>
                            </li>
                          </ul>
                        </div>
                        <!-- end attribute navigation -->
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
      