{% extends '../includes/base.html' %}
{% load static %}

{% block title %}
  Hifi Tech Solns | Blog
{% endblock %}

{% block content %}
  <!--  MAIN WRAPPER
    ==================================================  -->
  <div class="main-wrapper">
    <!--  HEADER
        ==================================================  -->
    <header class="header-style1 menu_area-light">
      <div class="navbar-default border-bottom border-color-light-white">
        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
          <div class="row align-items-center">
            <div class="col-12 col-lg-12">
              <div class="menu_area alt-font">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="navbar-header navbar-header-custom">
                    <!-- start logo -->
                    <a href="index.html" class="navbar-brand"><img id="logo" src="img/logos/logo-inner.png" alt="logo" /></a>
                    <!-- end logo -->
                  </div>

                  <div class="navbar-toggler bg-primary"></div>

                  <!-- start menu area -->
                  <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                    <li>
                      <a href="#!">Home</a>
                      <ul>
                        <li>
                          <a href="index.html">Home 01</a>
                        </li>
                        <li>
                          <a href="index-02.html">Home 02</a>
                        </li>
                        <li>
                          <a href="index-03.html">Home 03</a>
                        </li>
                        <li>
                          <a href="index-04.html">Home 04</a>
                        </li>
                        <li>
                          <a href="index-05.html">Home 05</a>
                        </li>
                        <li>
                          <a href="index-06.html">Home 06</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#!">Pages</a>
                      <ul>
                        <li>
                          <a href="about.html">About Us</a>
                        </li>
                        <li>
                          <a href="services.html">Our Services</a>
                        </li>
                        <li>
                          <a href="pricing.html">Pricing Plans</a>
                        </li>
                        <li>
                          <a href="team.html">Our Team</a>
                        </li>
                        <li>
                          <a href="clients.html">Our Clients</a>
                        </li>
                        <li>
                          <a href="faq.html">FAQ's</a>
                        </li>
                        <li>
                          <a href="testimonials.html">Testimonials</a>
                        </li>
                        <li>
                          <a href="404-page.html">404 Page</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#!">Services</a>
                      <ul>
                        <li>
                          <a href="web-development.html">Web Development</a>
                        </li>
                        <li>
                          <a href="apps-development.html">Apps Development</a>
                        </li>
                        <li>
                          <a href="graphics-design.html">Graphics Design</a>
                        </li>
                        <li>
                          <a href="digital-marketing.html">Digital Marketing</a>
                        </li>
                        <li>
                          <a href="mobile-platforms.html">Mobile Platforms</a>
                        </li>
                        <li>
                          <a href="content-management.html">Content Management</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#!">Portfolio</a>
                      <ul>
                        <li>
                          <a href="portfolio.html">Portfolio Grid</a>
                        </li>
                        <li>
                          <a href="portfolio-details.html">Portfolio Details</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#!">Blog</a>
                      <ul>
                        <li>
                          <a href="blog-grid.html">Blog Grid</a>
                        </li>
                        <li>
                          <a href="blog-list.html">Blog List</a>
                        </li>
                        <li>
                          <a href="blog-details.html">Blog Details</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                  <!-- end menu area -->

                  <!-- start attribute navigation -->
                  <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                    <ul>
                      <li class="d-none d-xl-inline-block">
                        <a href="contact.html" class="btn-style1 white"><span>Free Quote</span></a>
                      </li>
                    </ul>
                  </div>
                  <!-- end attribute navigation -->
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--  PAGE TITLE
        ==================================================  -->
    <section class="page-title-section top-position1 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <div class="position-relative">
                <h1 class="display-5 font-weight-700 lh-1">Delivering the best web design agency.</h1>
              </div>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>Delivering the best web design agency.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute top-0 left-0">
        <img src="img/bg/bg-shape-01.png" alt="..." />
      </div>
      <div class="position-absolute bottom-0 end-0">
        <img src="img/bg/bg-shape-02.png" alt="..." />
      </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <article class="card card-style04 h-auto">
                        <div class="card-img position-relative">
                            <img src="{{ object.image.url }}" alt="{{ object.title }}">
                        </div>
                        <div class="card-body p-1-9 pt-2-3">
                            <ul class="entry-meta list-unstyled mb-3">
                                <li class="me-3 my-1"><i class="far fa-calendar me-2"></i>{{ object.created_at|date:"M d, Y" }}</li>
                                <li class="me-3 my-1"><i class="fas fa-comment me-1 text-primary"></i> {{ comments.count }} Comments</li>
                                <li class="my-1"><i class="far fa-user me-2"></i><a href="#!">{{ object.author }}</a></li>
                            </ul>                                
                            <p>{{ object.content }}</p>
    
                            <h3 class="mb-3">Related Tags:</h3>
                            <div class="blog-tags mt-n2">
                                {% for tag in tags %}
                                    <a href="">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
    
                            <h3 class="h4 mb-1-9 text-primary">{{ comments.count }} Comments</h3>
                            {% for comment in comments %}
                                <div class="d-flex border-bottom border-color-light-black pb-4 mb-5">
                                    <div class="flex-shrink-0">
                                        <img src="{{ comment.user.profile_picture.url }}" alt="{{ comment.user.username }}" class="rounded">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h6 mb-2">{{ comment.user.username }}</h4>
                                        <p>{{ comment.content }}</p>
                                        <a class="comment-reply-link" href="#!">Reply</a>
                                    </div>
                                </div>
                            {% endfor %}
    
                            <h3 class="h4 mb-1-9 text-primary">Leave a reply</h3>
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group">
                                        <textarea name="reply" rows="6" class="form-control h-100" placeholder="Your Reply"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn-style1"><span>Leave a Reply</span></button>
                                </div>
                            </form>
                        </div>    
                    </article>                        
                </div>
    
                <div class="col-lg-4">
                    <div class="sidebar ps-xl-1-9">
                        <div class="widget mb-1-9">
                            <h4 class="mb-1-9 text-primary h5">Recent Posts</h4>
                            {% for post in recent_posts %}
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0">
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h6"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                        <span class="display-30">{{ post.created_at|date:"M d, Y" }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
    
                        <div class="widget widget_categories mb-1-9">
                            <h4 class="mb-1-9 text-primary h5">Categories</h4>
                            <ul>
                                {% for category in categories %}
                                    <li class="cat-item">
                                        <a href="">
                                            <span class="cat-name">{{ category.name }}</span>
                                            <span class="float-end cat-count">({{ category.blogpost_set.count }})</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
    
                        <div class="widget mb-1-9">                                
                            <h4 class="mb-1-9 text-primary h5">Tags</h4>
                            <div class="blog-tag mt-n2">
                                {% for tag in tags %}
                                    <a href="">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="widget">
                            <h4 class="mb-1-9 text-primary h5">Follow Us</h4>
                            <ul class="social-icon-style2">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--  FOOTER
        ==================================================  -->
    <footer class="bg-secondary pt-6 pt-lg-8 position-relative overflow-hidden">
      <div class="container">
        <div class="row mt-n2-9 pb-6 pb-lg-8">
          <div class="col-md-6 col-lg-5 mt-2-9 wow fadeIn" data-wow-delay="200ms">
            <div class="footer-logo mb-4">
              <a href="index.html"><img src="img/logos/footer-light-logo.png" alt="..." /></a>
            </div>
            <h4 class="text-white mb-1-9 fw-light w-lg-75 display-27 lh-base opacity8">We have been most trusted web design agency since 25+ years.</h4>
            <ul class="social-icon-style1">
              <li>
                <a href="#!"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#!"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#!"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 mt-2-9 wow fadeIn" data-wow-delay="400ms">
            <div class="ps-0">
              <h3 class="text-white h4 mb-1-9">Newsletter</h3>
              <p class="text-white opacity8 mb-4">Subscribe to our newsletter to receive updates on the latest news!</p>
              <form class="quform newsletter-form" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">
                <div class="quform-elements">
                  <div class="row">
                    <!-- Begin Text input element -->
                    <div class="col-md-12">
                      <div class="quform-element mb-0">
                        <div class="quform-input">
                          <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us" />
                        </div>
                      </div>
                    </div>
                    <!-- End Text input element -->

                    <!-- Begin Submit button -->
                    <div class="col-md-12">
                      <div class="quform-submit-inner">
                        <button class="btn btn-white text-white m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                      </div>
                      <div class="quform-loading-wrap">
                        <span class="quform-loading"></span>
                      </div>
                    </div>
                    <!-- End Submit button -->
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mt-2-9 offset-lg-1 wow fadeIn" data-wow-delay="600ms">
            <div class="ps-xl-4">
              <h3 class="text-white h4 mb-1-9">Contacts</h3>
              <div class="d-flex mb-1-9">
                <div class="flex-shrink-0">
                  <img src="img/icon/icon-phone.png" alt="..." />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="mb-1 h5 text-white">Contact Us</h4>
                  <p class="mb-0 text-white">(+44) 123-456-789</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="img/icon/icon-mail.png" alt="..." />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="mb-1 h5 text-white">Mail Us</h4>
                  <p class="mb-0 text-white">info@yourdomain.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 border-top border-color-light-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 text-center">
              <p class="d-inline-block text-white mb-0">
                &copy; <span class="current-year"></span> Topweb Powered by <a href="#!" class="text-primary text-white-hover">Website Design Templates</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="lg-text ani-left-right">Topweb</h2>
    </footer>
  </div>
{% endblock %}
