{% extends 'includes/base.html' %}

{% load static %}

{% block title %}
  Hifi Tech Solutions | Home
{% endblock %}

{% block content %}
  <!--     MAIN WRAPPER
    ==================================================     -->
  <div class="main-wrapper">
    {% include 'includes/navbar.html' %}

    <!--  PAGE TITLE
        ==================================================  -->
    <section class="page-title-section top-position1 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <div class="position-relative">
                <h1 class="display-2 font-weight-700 lh-1">Contact Us</h1>
              </div>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>Contact Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute top-0 left-0">
        <img src="{% static 'img/bg/bg-shape-01.png' %}" alt="..." />
      </div>
      <div class="position-absolute bottom-0 end-0">
        <img src="{% static 'img/bg/bg-shape-02.png' %}" alt="..." />
      </div>
    </section>

    <!--  CONTACT DETAIL
        ==================================================  -->
    <section class="contact-style01">
      <div class="container">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="bg-img cover-background h-100" data-background="{% static 'img/content/contact-img.jpg' %}"></div>
          </div>
          <div class="col-md-6">
            <div class="contact-data p-1-9 p-lg-8">
              <div>
                <div class="heading-animation animation-style2">
                  <h2 class="title-font mb-1-6 mb-sm-1-9 display-5 font-weight-700">Contact</h2>
                </div>
                <address class="mb-2-9 display-29 display-md-28 display-xl-27 font-weight-700">
                  Entebbe — <br />66 Kawuku Namulanda 512B, Off Etb Road.
                </address>
                <h5>(+256) 708 871 292</h5>
                <h5 class="mb-1-6 mb-lg-2-3">info@hifitechsolns.com</h5>
                <div class="contact-map-button">
                  <a href="#!">
                    <span class="main-content">
                      <span class="map-icon"><i aria-hidden="true" class="fas fa-map-marker-alt"></i></span>
                      <span class="map-text">View on map</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  CONTACT FORM
        ==================================================  -->
        <section class="pt-0">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="border p-1-9 p-md-5">
                  <div class="heading-animation animation-style2">
                    <h2 class="title-font mb-1-6 mb-sm-1-9 display-5 font-weight-700">Get In Touch</h2>
                  </div>
                  

                  <!-- Alert Message Container -->
                  <div id="alert-container"></div>
        
                  <!-- Django Form -->
                  <form id="contactForm" class="contact">
                    {% csrf_token %}
                    <div class="quform-elements">
                      <div class="row">
                        
                        <!-- Name Field -->
                        <div class="col-md-6">
                          <div class="quform-element form-group">
                            <label for="{{ form.name.id_for_label }}">Your Name <span class="quform-required">*</span></label>
                            <div class="quform-input">
                              {{ form.name }}
                            </div>
                          </div>
                        </div>
        
                        <!-- Email Field -->
                        <div class="col-md-6">
                          <div class="quform-element form-group">
                            <label for="{{ form.email.id_for_label }}">Your Email <span class="quform-required">*</span></label>
                            <div class="quform-input">
                              {{ form.email }}
                            </div>
                          </div>
                        </div>
        
                        <!-- Subject Field -->
                        <div class="col-md-6">
                          <div class="quform-element form-group">
                            <label for="{{ form.subject.id_for_label }}">Your Subject <span class="quform-required">*</span></label>
                            <div class="quform-input">
                              {{ form.subject }}
                            </div>
                          </div>
                        </div>
        
                        <!-- Message Field -->
                        <div class="col-md-12">
                          <div class="quform-element form-group">
                            <label for="{{ form.message.id_for_label }}">Message <span class="quform-required">*</span></label>
                            <div class="quform-input">
                              {{ form.message }}
                            </div>
                          </div>
                        </div>
        
                        <div id="contact-us-preloader"></div>
                        <!-- Submit Button -->
                        <div class="col-md-12">
                          <div class="quform-submit-inner">
                            <button class="btn-style1" type="submit"><span>Send Message</span>
                            </button>
                          </div>
                          <div class="quform-loading-wrap text-start">
                            <span class="quform-loading"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
        
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("contactForm");
            const alertContainer = document.getElementById("alert-container");
            
            form.addEventListener("submit", function (event) {
              event.preventDefault(); // Prevent default form submission
              
              const formData = new FormData(form);
              const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              const preloader = document.getElementById('contact-us-preloader')
              
              preloader.innerHTML = "<div class='spinner-border text-primary'></div>"

              fetch("{% url 'contact-us' %}", {
                method: "POST",
                headers: {
                  "X-CSRFToken": csrfToken,
                },
                body: formData,
              })
              .then(response => response.json())
              .then(data => {

                alertContainer.innerHTML = "";
        
                  const alertDiv = document.createElement("div");
                  alertDiv.className = `alert ${data.status === "success" ? "alert-success" : "alert-danger"} alert-dismissible fade show`;
                  alertDiv.role = "alert";
                  alertDiv.innerHTML = `
                  ${data.message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  `;
                  alertContainer.appendChild(alertDiv);
                  
                  // Clear form fields if submission was successful
                  if (data.status === "success") {
                    form.reset();
                    preloader.innerHTML = ''
                  }
                })
                .catch(error => {
                  console.error("Error:", error);
                  preloader.innerHTML = ''
                });
                
                // Empty the preloader
              });
              
          });

        </script>
        

    <!--  MAP
        ==================================================  -->
    <section class="p-0">
      <div class="container-fuild">
        <iframe class="contact-map" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8060747725895!2d32.539238373958376!3d0.14195499985664503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177d91bcddb3b8c7%3A0x12253af2bef9a47!2sKawuku!5e0!3m2!1sen!2sug!4v1743011349745!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>

    <!--     FOOTER
        ==================================================     -->
    {% include 'includes/footer.html' %}
  </div>
{% endblock %}
